/* ----------------------- CLIENT PATH CONTAINER ----------------------- */

.client-path {
    position: relative;

    &-triangle {
        position: absolute;
        right: 23.5rem;
        top: 1rem;
    }
}

.upper-steps-div {
    margin-top: 8.25rem;
}
.client-path-steps {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &-item {
        max-width: 11rem;
        position: relative;

        .step-number-img {
            max-width: 5.8rem;
            position: absolute;
            right: -2.5rem;
            top: -2.2rem;

            &-first {
                right: -.625rem;
                top: -4rem;
            }
        }

        &-number {
            color: #22D9A2;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            margin-bottom: 1.5rem;
        }

        h4 {
            font-weight: 600;
        }
    }
}

.client-path-steps:last-child {
    justify-content: space-evenly;
}


.client-path-timeline {
    margin: 3.125rem auto 3.4rem;
    width: fit-content;
}