/* ----------------------- GENERAL STYLES ----------------------- */
$main-font: "VTB Group UI";
$color-neutral-05: #F3F4F6;
$color-neutral-30: #B1B5BB;
$color-neutral-90: #22242A;



body {
    height: 100%;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1, h2, h3, h4, p, a, li, button, label, input, textarea {
    font-family: $main-font;
    color: inherit;
}

a:hover, button:hover {
    cursor: pointer;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.25rem;
}
h2 {
    font-size: 1.75rem;
    line-height: 2rem;
}
h3 {
    font-size: 1.5rem;
    line-height: 1.75rem;
}
h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;
}
p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-muted-light {
    color: $color-neutral-05;
}

.text-muted {
    color: $color-neutral-30;
}

.title-container {
    margin: 6.25rem auto 3.5rem;
    max-width: 1070px;

    h2 {
        display: inline-block;
    }
    &-number {
        margin-right: 1rem;
    }

    .title-text-neutral {
        color: $color-neutral-05;
    }
    .title-text-green {
        margin: 0 .3rem;
        color: #22D9A2;
    }

    // font-feature-settings: 'tnum' on, 'lnum' on, 'cv03' on, 'cv04' on;
}

.container-medium {
    margin: 6.25rem auto 5.25rem;
    max-width: 1070px;
}

.container-large {
    margin: 6.25rem 1.94rem;
    max-width: 1220px;
}

@media (max-width: 1200px) {

    .title-container {
        margin: 6.25rem auto 3.5rem;
        max-width: 970px;
    }
    .container-medium {
        margin: 6.25rem auto 5.25rem;
        max-width: 970px;
    }
    .container-large {
        margin: 6.25rem 1.94rem;
        max-width: 1120px;
    }
}
@media (max-width: 992px) {
    .title-container {
        margin: 6.25rem auto 3.5rem;
        max-width: 750px;
    }
    .container-medium {
        margin: 6.25rem auto 5.25rem;
        max-width: 750px;
    }
    .container-large {
        margin: 6.25rem 1.94rem;
        max-width: 900px;
    }
}
@media (max-width: 767px) {
    .title-container {
        margin: 6.25rem auto 3.5rem;
        max-width: none;
    }
    .container-medium {
        margin: 6.25rem auto 5.25rem;
        max-width: none;
    }
    .container-large {
        margin: 6.25rem 1.94rem;
        max-width: none;
    }
}

.blue-bg {
    background: center no-repeat url("../images/onboarding_bg.png");
    background-size: cover;
    color: #fff;
    overflow: hidden;
    width: 100%;
}

.dark-grey-bg {
    background: $color-neutral-90;
    color: $color-neutral-05;
    overflow: hidden;
    width: 100%;
}

.button-blue {
    color: #fff;
    background-color: #0062FF;
    font-family: $main-font;
    border-radius: 4px;
    border: none;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;
    &-big {
        padding: 1rem 2rem;
        font-size: 1rem;
    }
    &-small {
        padding: .625rem 1.5rem;
        font-size: .875rem;
    }
}

.button-blue:hover {
    background-color: #0142D3;
}
.button-blue:active {
    background-color: #022D9A;
}
.button-blue:focus {
    outline: none;
}

.button-transparent {
    background-color: transparent;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid #FFFFFF;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.button-transparent:hover {
    background: rgba(255, 255, 255, 0.08);
}
.button-transparent:active {
    background-color:  rgba(255, 255, 255, 0.2);
}
.button-transparent:focus {
    outline: none;
}

.plus-button {
    margin-right: .375rem;
}