/* ----------------------- HEADER ----------------------- */
.header {
    width: 100%;
    padding: 1.313rem 2rem 1.25rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    top: 0;
    // top: -70px;
    transition: top 0.2s ease-in-out;

    &-logo {
        max-width: 7rem;
    }

    &-menu {
        width: 57rem;
        color: #ffffff;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &-links {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                margin-right: 2.25rem;
                font-size: .875rem;
                font-weight: 600;
            }
        }
        &-search-and-login {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .search-icon {
                // content: "";
                // display: block;
                // width: 1px;
                // height: 1.75rem;
                // background-color: #fff;
                border-right: 1px solid #ffffff;
                padding: 6px 4rem 6px 0;
            }

            a {
                margin-left: 2.5rem;
                font-size: .875rem;
                font-weight: 600;
            }
        }
    }
}

.hide {
    top: -70px;
}
.bg-color {
    background-color: #0062FF;
}