/* ----------------------- NEWS CONTAINER ----------------------- */

.news {
    margin-left: auto;
    margin-right: auto;
}

.news-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.news-card {
    background-color: #2D2F35;
    border-radius: 8px;
    // padding: 1rem 1rem 2rem;
    max-width: 17.5rem;
    height: 26.75rem;

    position: relative;

    &-picture {

        width: 100%;
    }

    &-text {
        margin: 2rem 0 0 2rem;
        h4 {
            max-width: 13.5rem;
            font-weight: 600;
        }

        p {
            max-width: 13.5rem;
            margin-top: 1.5rem;
        }
    }

    &-button {
        margin: 2.5rem 0 0 1rem;
        position: absolute;
        bottom: 2rem;
        left: 2rem;
    }
}

.news-card:last-child {
    background-color: #000;
    background-image: url("/images/card-bg-black.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6.25rem 0 2rem 2rem;

    h1 {
        font-size: 2.125rem;
        font-weight: 600;
        line-height: 2.25rem;
    }

}

.card-read_more {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: #3A85FF;

    display: flex;
    align-items: center;
}

.card-arrow {
    margin-right: .875rem;
}

.news-action {
    margin-top: 4.25rem;
    display: flex;
    justify-content: center;
}

@media (max-width: 1200px) {
    .news {
        display: block;
    }

    .news-card {
        display: inline-block;
        margin: 0 2rem 1rem;
    }    
}