/* ----------------------- ONBOARDING CONTAINER ----------------------- */

.onboarding-bg {
    // background: linear-gradient(0deg, rgba(1, 64, 206, 0.4), rgba(1, 64, 206, 0.4)), conic-gradient(from 156.93deg at 50% 50%, #001144 0deg, #0142D3 114.54deg, #3A85FF 227.05deg, #C8DBFF 360deg);
    // background-blend-mode: multiply, normal;
    background: center no-repeat url("../images/onboarding_bg.png");
    background-size: cover;
    width: 100%;
    height: 40rem;
}

.onboarding {
    color: #fff;

    h3 {
        max-width: 38.3rem;
    }

    h1 {
        max-width: 43rem;
        margin: 1.75rem 0 6.25rem;
    }

    button {
        color: inherit;
        font-weight: 500;
        padding: 1rem 2rem;
        border: 1px solid #FFFFFF;
        border-radius: 4px;

        background-color: transparent;
        display: flex;
        align-items: flex-start;

        img {
            margin-right: .375rem;
        }
    }
}