/* ABOUT STYLES ---------------------------------------------------------------------- */
.about_section {
    padding: 2rem 2rem 0;
    background-color: $main-greenish-color;
  }
  
  .about_div {
    max-width: 60rem;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  
  .about_div h2 {
    margin: 1rem 0;
  }
  
  @media (max-width: 768px) {
    .about_section {
      padding: 1rem 1rem 0;
    }
  
    .about_div h2 {
      margin: .5rem 0;
    }
  }
  