/* FOR PATIENTS STYLES --------------------------------------------------------------- */
.for_patients-title {
  text-align: center;
  margin-bottom: 4rem;
}

@media (max-width: 1024px) {
  .for_patients-title {
    margin-bottom: 1.5rem;
  }
}

.for_patients-content {
  --gap: 2rem;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;



  &-text {
    max-width: 30rem;
    background-color: $lightgrey-color;
    border-radius: 7px;

    margin: var(--gap) 0 0 var(--gap);

    h3 {
      color: $main-greenish-color;
      margin-bottom: 1rem;
      line-height: 130%;
      max-width: 20rem;
      font-size: 1.5rem;

      span {
        color: #8bc43f;
      }
    }
    p{
      text-align: justify;
    }

    padding: 2rem;
  }
}

.for_patients-content-advantages {
  display: flex;
  flex-direction: column;

  margin: var(--gap) 0 0 var(--gap);

  &-title {
    margin-bottom: 1rem;
  }

  &-list {
    &-item {
      // max-width: 30rem;
      margin-bottom: .5rem;
      padding: .5rem;
      border: 1px solid #eaeaea;
      border-radius: 7px;

      display: flex;
      align-items: center;

      i {
        font-size: 1.3rem;
        color: #8bc43f;

        margin-right: 1rem;
      }
    }
  }
}
  
