/* HEADER STYLES ----------------------------------------------------------------------- */
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  transition: top 0.2s ease-in-out;
}
  
.navbar a {
  font-size: 0.85rem;
}

.navbar-brand {
  padding: 0;
}

.logo_img {
  height: auto;
  max-width: 12rem;
}

.nav-item {
  color: #000;
  font-weight: bold;
  margin-right: 1.5rem;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .show>.nav-link {
  text-decoration-line: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}


.dropdown-item {
  padding: .25rem 1rem;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  color: $main-greenish-color;
}

nav .btn {
  font-family: inherit;
  font-size: 0.85rem;
  font-weight: bold;
  margin-left: 1rem;
}

nav .btn-outline-primary {
  color: #8bc43f;
  border-color: #8bc43f;
}

nav .btn-outline-primary:hover {
  background-color: $main-greenish-color;
  border-color: $main-greenish-color;
}

nav .btn-outline-success {
  color: #fff;
  background-color: #8bc43f;
  border-color: #8bc43f;
}

@media (max-width: 991px) {
  nav .btn {
    margin: 0 0 .6rem 0;
  }

  .logo_img {
    max-width: 8rem;
  }

  .navbar {
    padding: .5rem 1rem;
    /* height: 3.5rem; */
  }
}
