
/* MOBILE APP STYLES ------------------------------------------------------------------ */
.mobile_app_section {
    padding: 2rem 0 1rem;
  }
  
  .app_row {
    max-width: 70rem;
    margin: 0 auto;
  }
  
  .picture_col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .app_img {
    max-width: 90%;
    max-height: 25rem;
    margin-bottom: 1rem;
  }
  
  .features_list li {
    list-style-type: square;
    line-height: 1.7rem;
    text-align: justify;
    list-style-position: inside;
  }
  
  @media (max-width: 768px) {
    .app_img {
      width: 80%;
      max-width: 23rem;
    }
  }
  